################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.sdf
*.ilk
*.log
*.obj
*.sdf
.vs/3Sweep/v14/.suo
*.sdf
*.exp
*.txt
*.obj
*.obj
*.pdb
